extends layout

block content
  img(src="//static.imooc-lego.com/h5-assets/404.png", style="width: 100%")
  div(style="margin: 0 10px;")
    h1(style="font-weight: bold; font-size: 7.5em")
      | 404
    h2(style="font-weight: bold; font-size: 2em")
      | UH OH! 页面丢失
    p
      | 您所寻找的页面不存在，请确认链接是否正确。
