extends layout

block content
  center(style="margin: 40px 15px;")
    h1(style="font-weight: 600; font-size: 100px; color: #515151; margin-bottom: 20px;")
      | 500
    h2(style="font-weight: 400; font-size: 16px; color: #282828; margin-bottom: 20px;")
      | 网站运行错误
    p(style="color: #666; font-size: 14px;")
      | 非常抱歉，网站服务器运行出错，<br/>正在紧急处理中，请您稍后再试。
